certifi==2019.6.16
chardet==3.0.4
Click==7.0
coverage==4.5.3
entrypoints==0.3
flake8==3.7.7
Flask==1.0.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
matrix-client==0.3.2
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
requests==2.22.0
urllib3==1.25.3
Werkzeug==0.15.4
